.custom-navbar {
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw; /* タブバーを画面幅いっぱいにする */
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.custom-navbar .row {
    width: 100%;
    margin: 0; /* 余白を完全になくす */
}

.custom-navbar .col {
    padding: 0; /* 余白をなくす */
}

.custom-navbar .nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 12px;
    color: #333;
    width: 100%;
}

.custom-navbar .nav-link i {
    font-size: 28px;
}

.custom-navbar .nav-link:active,
.custom-navbar .nav-link:hover {
    color: #007bff;
}
