body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    position: relative;
    height: 100vh; /* 画面全体の高さ */
    overflow: hidden; /* コンテンツがはみ出さないように */
    background-color: #fffb00;
}

/* 画像 */
.image-container {
    width: auto; /* 画面幅いっぱいに設定 */
    height: 75vh; /* ボタンとタイトルを除いた高さ */
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 35vh; /* ボタンの高さ分を引いた領域 */
}

.image-container img {
    object-fit: cover; /* 画像の縦横比を保ちつつ、枠に収める */
}

/* ボタンエリア */
.button-container {
    width: 100%;
    height: 20vh; /* ボタンの縦幅 */
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex; /* フレックスボックスで配置 */
    align-items: center; /* ボタンと非クリックエリアを中央揃え */
}

/* ボタン */
.button-container button {
    flex: 1; /* ボタンが中央に広がる */
    font-size: 45px;
    font-weight: bold;
    background-color: #ff0000;
    color: white;
    border: none;
    cursor: pointer;
    height: 100%;
    transform: scale(1); /* ズームしてもボタンのサイズを変えない */
    pointer-events: auto; /* ズーム時でもボタンがクリックできるように */
}

/* 非クリックエリア */
.non-clickable-area-left,
.non-clickable-area-right {
    width: 30px; /* 幅50pxの非クリックエリア */
    height: 100%; /* コンテナの高さ全体 */
    background-color: #fffb00; /* 視覚的にわかる背景色 */
    pointer-events: none; /* クリックやタッチイベントを無効化 */
}
