<!DOCTYPE html>
<html lang="ja">
{% load static %}  <!-- staticタグを読み込む -->
{% load pwa %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#000000">
    <!-- PWA関連 -->
    <link rel="manifest" crossorigin="use-credentials" href="{% static 'manifest.json' %}">
    {% progressive_web_app_meta %}
    <title>{% block title %}My Django PWA{% endblock %}</title>
    <!-- サービスワーカーを登録 -->
    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', function() {
                navigator.serviceWorker.register('{% static "js/service_worker.js" %}').then(function(registration) {
                    console.log('ServiceWorker registered with scope:', registration.scope);
                }).catch(function(error) {
                    console.log('ServiceWorker registration failed:', error);
                });
            });
        }
    </script>
</head>
<body>
    {% block content %}
    <!-- コンテンツはここに挿入されます -->
    {% endblock %}
</body>
</html>
