{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center text-primary mb-4">グループ情報</h1>
    <div id="group-info" class="card shadow-sm p-4 mb-4">
        <!-- グループ情報がここに表示されます -->
    </div>

    <h2 class="text-center text-secondary mb-3">グループ参加者</h2>
    <div id="user-list" class="user-list row g-3">
        <!-- ユーザー情報がここに追加されます -->
    </div>
</div>
<link rel="stylesheet" href="{% static 'css/group_users.css' %}">
<script src="{% static 'js/group_users.js' %}"></script>
{% endblock %}
