<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>スマホUI</title>
        {% load static %}
        <!-- jQueryの読み込み -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <link rel="stylesheet" href="{% static 'css/sinia_home.css' %}">
        <!-- CSRFトークンをmetaタグで埋め込む -->
        <meta name="csrf-token" content="{{ csrf_token }}">
    </head>
<body>
    <!-- 画像 -->
    <div class="image-container">
        <img id="photo" src="https://placehold.jp/1920x1080.png" alt="Image">
    </div>

    <!-- ボタンエリア -->
    <div class="button-container">
        <!-- 左側の非クリックエリア -->
        <div class="non-clickable-area-left"></div>

        <!-- ボタン -->
        <button id="fetchRandomPost">ここを押す！</button>

        <!-- 右側の非クリックエリア -->
        <div class="non-clickable-area-right"></div>
    </div>

    <!-- JSファイルを読み込む -->
    <script src="{% static 'js/sinia_home.js' %}"></script>
</body>
</html>
